/* common */

body {
  color: #333;
}

a {
  text-decoration: none;
  color: #0044cc;
}
a:hover {
  opacity: .4;
  transition: opacity .4s;
}

.unit {
  margin-bottom: 80px;
}

.title {
  position:relative;
  padding-left: 16px;
}

.title::before {
  position: absolute;
  content: '';
  top:50%;
  left: 0;
  transform: translateY(-50%);
  width: 5px;
  height: 48px;
  background-color: #33ccff;
}

.demo {
  background-color: #eee;
  height:auto;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 5px;
}

.desc {

}

.elem {
  font-size: 1.2rem;
  font-weight: bold;
}

.code {
  background-color: #eee;
}





/* style */

.position {
  height:220px;
}

.box1 {
  background-color: #00a6c6;
  width:300px;
  height:100px;
  position:relative;
  top:5px;
  left:5px;
}
.innerbox {
  width:200px;
  height:60px;
  background-color: #c3def4;
  position:absolute;
  top:15px;
  left:30px
}
.box2 {
  background-color: #c3def4;
  width:500px;
  height:50px;
  position: absolute;
  top:5px;
  left:800px;
}
.box3 {
  background-color: #a3d6cc;
  width:500px;
  height:50px;
  position: relative;
  top:50px;
  left:20px;
}
